<article class="card">
  <div class="card-image">
      {% comment %} dynamisch plaatje {% endcomment %}
    <img src="/assets/card-backgrounds/image-{{pageType}}.jpg" alt="card image">
  </div>
  <div class="card-content">
    {% render "./partials/btn/regular-btn.liquid"
      , link: exercise.pathName %}
    <p class="card-category default">{{ category | default: "Oefening" }}</p>
    <h3 class="card-title xs font-calvino">{{ exercise.title }}</h3>
  </div>
</article>