{% render './partials/head.liquid', theme: taskTheme %}
<img src="/assets/decorative/Mesh-Grad-{{id}}.svg" alt="">
<p class="xxl">{{title}}</p>
<br>
<p>titel van de opdracht:</p>
<h1 class="xxl">{{exerciseTitle}}</h1>
<p>{{description}}</p>

{% render './partials/footer.liquid' %}
