{% render './partials/head.liquid'
  , theme: foundtheme %}
<img src="/assets/decorative/Mesh-Grad-{{ id }}.svg" alt="">
<img src="https://fdnd-agency.directus.app/assets/{{ image }}" alt="">
<p>titel van de opdracht:</p>
<h1 class="xxl">{{ title }}</h1>
<p>{{ description }}</p>
{% render './partials/footer.liquid' %}