{% render './partials/head.liquid'
  , theme: foundTheme, id: id %}  
  <main>
<img src="https://fdnd-agency.directus.app/assets/{{ image }}" alt="">
<p>titel van de opdracht:</p>
<h1 class="xxl">{{ title }}</h1>
{{ description }}
</main>
{% render './partials/footer.liquid' %}