{% render './partials/head.liquid', themeColor: taskTheme, title: title %}
<h1>{{title}}</h1>
{% render './partials/btn/regular-btn.liquid', text: "hoi", link: "" %}

{% render './partials/footer.liquid' %}