.card-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  height: 100%;
  box-sizing: border-box;
  background-color: #242424;
  border-radius: 1.5rem;
  padding: 1rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2.375rem;
  overflow: hidden;
  border-radius: 1.5rem;
}

.card img{
  border-radius: 1rem;
}
